*{ box-sizing:border-box;}


/*putting header in the center*/
h1{
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
}
/*styling the back button, fixing it to the top left corner*/
#back-btn {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #ccc;
    font: black;
    font-size:30px;
    border: 3px solid black;
    border-style: ridge;
    border-radius: 5px;
    cursor:grab;
  }

  /*adding a hover effect to the back button*/
  #back-btn:hover{
    background-color: rgb(240, 236, 236);
  }
  
/*formatting switch mode bottom fixing it to the top right and keep theme from form page*/
.switch-mode {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch-mode input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor:grab;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  /*slider attributes, positioning, and block color*/
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
  }
  /*background color of the slider*/
  input:checked + .slider {
    background-color:rgb(0, 0, 0);
  }
  /*adding grey shadow behind the slider to make it stand out*/
  input:focus + .slider {
    box-shadow: 2px 2px 5px 5px grey;
  }
  /*position the of the slider after it is toggled*/
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
      

/*setting up area for the blog list*/
.blog-list{
    width: 100%;
    margin:5px;
    padding-left:15px;
    border: 15px solid #ccc;
    border-style:ridge;
    border-radius: 15px;
    background-color: #fff;
    }

  /*footer positioning*/
  footer{
    text-align: center;
    font-size: 30px;
  }  