*{ box-sizing:border-box;}

/*centering header and welcome note*/
h1,p{
   text-align: center;
}

/*placement and width of slider*/
.switch-mode {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch-mode input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: grab;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
}

/*Attributes of the slider positioning, size, movement and block color*/
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:grey;
  -webkit-transition: .4s;
  transition: .4s;
}

/*background color of the slider*/
input:checked + .slider {
  background-color:rgb(0, 0, 0);
}

/*adding grey shadow on slider to stand out */
input:focus + .slider {
  box-shadow: 2px 2px 5px 5px grey;
}

/*movement of slider after toggle*/
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*landing page entry alignment*/
.landing{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*aligning and creating border around form enteries*/
form {
    width: 75%;
    padding: 30px;
    border: 15px solid #ccc;
    border-style:ridge;
    border-radius: 15px;
    background-color: #fff;
  }
  
  /*creating space between individual enteries*/
  .form-labels {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
  }
/*creating 100% width within the form on user name and title enteries*/
  input[type=text]{
    width:100%;
    border: 3px solid #ccc;
    border-style: ridge;
    border-radius: 5px;
  }
/*creating spacing within form on text entry field and also adding a little padding*/
  textarea {
    width: 100%;
    padding: 5px;
    border: 3px solid #ccc;
    border-style: ridge;
    border-radius: 5px;
  }
/*button design*/  
  button {
    display:block;
    margin:auto;
    background-color: #ccc;
    font: black;
    font-size:20px;
    border: 3px solid black;
    border-style: ridge;
    border-radius: 5px;
    cursor:grab;
  }
/*styling the submit button with color on hover*/
  button:hover{
    background-color: rgb(240, 236, 236);

  }

  



